/*body*/
html.body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    line-height: 1.4;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

/* Section1 */
#section1 {
    width: 100%;

    background: var(--section1-background);

}


#section1 .red-div {
    height: 70px;
    width: 100%;
    background: var(--red-color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 .red-div .shop-p {
    color: var(--white-color);
    text-align: center;
    font-size: 1.1rem;
}

#section1 .red-div .shop-p span:hover {
    text-decoration: underline;
}

.section1-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.section1-content-div:hover {
    cursor: pointer;
}


.section1-upper-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1-bottom-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#section1 .red-apple img {

    height: 8rem;
}

#section1 .a-shop-gifts {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #0066CC;
    font-size: 2rem;
    transition: 0.5s ease-in;
    line-height: 1.2;
    font-weight: 400;
}

#section1 .a-shop-gifts:hover {
    text-decoration: none;
}

#section1 .a-shop-gifts span:hover {
    text-decoration: underline;
}

.img-section1 {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;

}

.img-section1 img {
    width: 70%;
    height: 100%;
}

.img-left {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

.img-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Section2 */
#section2 {
    padding: 0.8rem;
    background: var(--white-color);
    display: block;
    overflow: hidden;
}

.section2-content .section2-header-div {
    background: var(--white-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    position: relative;
    margin-top: 1rem;
}

.section2-header-div h2 {
    color: var(--black-color2);
    font-size: 5em;
    letter-spacing: -1px;
}

.section2-header-div h3 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 400;
    color: var(--black-color);
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 1.2rem;
}

.section2-header-div .section2-links-div {

}

.section2-img-div {
    width: 100%;
    height: 100%;
    transform: translateY(-150px);
}

.section2-img-div img {
    height: 100%;
    object-fit: cover;
    transform: scale(1.5);
    display: block;
}

.section2-links-div .a-learn-more, .section2-links-div .a-buy {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #0066CC;
    font-size: 2rem;
    transition: 0.5s ease-in;
    line-height: 1;
    font-weight: 400;
    margin-left: 2.5rem;
}

.section2-links-div .a-learn-more:hover, .section2-links-div .a-buy:hover {
    text-decoration: none;
}

.section2-links-div .a-learn-more span:hover, .section2-links-div .a-buy span:hover {
    text-decoration: underline;
}

/* Section 3 */

#section3 {
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    backgroung: var(--white-background);
}

#section3:hover {
    cursor: pointer;
}

#section3 a {
    display: block;
}

.section3-fake-div {
    height: 100%;
    width: 100%;

}

#section3 .section3-content {
    display: block;
    background: url("/assets/images/hero_iphone_13__f194u1rdooeq_largetall.jpg") no-repeat center center;
    background-size: 150vw 100vh;
    width: 100vw;
    height: 90vh;

}

.section3-header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-header-div h2 {
    color: var(--white-color);
    text-align: center;
}

.section3-header-div h3 {
    color: #FEC2EB;
    text-align: center;
    font-size: 2.7rem;

    margin-bottom: 2rem;
}

/* Section grid */

#section--grid {
    margin-top: 0.5rem;
    overflow: hidden;
}

.section-grid-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-grid-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 50%;
    margin: 0.7rem 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-header-div {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 30%;
    /*border: red 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.box-header-div:hover {
    cursor: pointer;
}

.box-header {
    padding-top: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.box-img-div {
    width: 100%
}

.box-img-div img {

    height: 800px;
    transform: scale(1.2);
}

.box .box-header p {
    color: var(--black-color2);
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}


.watch-now-logo {
    width: 50%;
    height: 50%;
    background: url("/assets/images/tile_watch_logo_lte__h7snssb7mqq2_medium.png") no-repeat center center;
}

.box .box-header #p-new {
    font-size: 1rem;
    color: var(--red-color);
}

.box-links {
    display: block;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #0066CC;
    font-size: 2rem;
    transition: 0.5s ease-in;
    line-height: 1;
    font-weight: 400;
}

.box-links a {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 1.6rem;
}

.box-links a:hover {
    text-decoration: none;
}

.box-links a span:hover {
    text-decoration: underline;
}

.dickinson-bottom-text-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.dickinson-div {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.dickinson-div img {
    bottom: 10rem;
    z-index: 100;
    width: 40%;
    height: 40%;
    object-position: 100% 100%;
    padding-bottom: 2rem;
}

.dickinson-div a span, .dickinson-div i {
    color: var(--white-color);
    margin-top: 3rem;
    font-size: 1.7rem;
    font-weight: 200;
}

/*icons*/

.icon-watch-now {
    width: 95%;
    height: 80%;
    margin-bottom: 3rem;

}

.arcade {
    width: 80%;
    height: 70%;
    margin-bottom: 3rem;

}

.box .card {

}

.card {

    height: 100%;
}