html, body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    line-height: 1.4;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-size: 12px;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
}
main {
    overflow: hidden;
}